# docker-compose.yml (Baseado no Tutorial do YouTube)
services:
  evolution_api:
    image: atendai/evolution-api:v1.8.2
    environment:
      - DATABASE_ENGINE=sqlite
      - DATABASE_PATH=/evolution/database/evolution.db
    container_name: evolution_api
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - evolution_store:/evolution/store
      - ./db_data:/evolution/database

volumes:
  evolution_store: {}